<div class="container">
  <h1>Activities search history</h1>

  <%= form_with url: latest_activities_path, method: :get, class: 'form-inline mb-3' do |form| %>
    <div class="form-group mt-2 mb-2">
      <%= form.label :sort, "Sort By:", class: 'mr-2' %>
      <%= form.select :sort, %w[activity_type participants price created_at accessibility], {selected: params[:sort]}, { class: "form-control mr-2" } %>
    </div>
    <div class="form-group mt-2 mb-2">
      <%= form.label :order, "Order:", class: 'mr-2' %>
      <%= form.select :order, %w[asc desc], {selected: params[:order]}, { class: "form-control mr-2" } %>
    </div>
    <%= form.submit "Apply", class: "btn btn-primary mt-2 mb-2" %>
  <% end %>

  <% if @activities.present? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Type</th>
        <th>Participants</th>
        <th>Price</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.activity_type %></td>
          <td><%= activity.participants %></td>
          <td><%= activity.price %></td>
          <td><%= activity.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%== pagy_bootstrap_nav @pagy if @pagy && @pagy.pages > 1 %>

  <% else %>
    <p>No activities found.</p>
  <% end %>

  <%= link_to 'Back and find your activity', api_wrapper_path, class: 'btn btn-primary mt-2 mb-2' %>
</div>
